@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.brand {
	display: flex;
	align-items: center;
}


.brand img {
	max-width: 50px;
	margin-right: 10px;
	margin-left: -220px;
}

.brand h1 {
	font-size: 2rem;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.brand h1 span {
	color: rgb(0, 242, 255);
}

#map h4 span {
	color: #BFECFF;
}

/* Larger font size for tablet and above */
@media (min-width: 390px) {
	.brand h1 {
		font-size: 2rem;
		margin-left: -5px;
	}

	.brand img {
		max-width: 50px;
		margin-left: -2px;
	}
}

@media (min-width: 768px) {
	.brand h1 {
		font-size: 3rem;
		/* Adjust font size for larger screens */
	}

}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;

}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: rgb(48, 118, 249);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}




/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/haha.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(11, 0, 77);
	opacity: 0.7;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	justify-content: flex-start;
}

/* Common Styles */
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* .text (Main Title) */
.text {
	font-size: 7rem;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 9px;
	animation: fadeInUp 2s ease-out;
	text-shadow: 10px 2px 20px rgba(2, 130, 250, 0.5);
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 200px;
}

/* Media Queries for .text (Main Title) */
@media (max-width: 768px) {
	.text {
		font-size: 4rem;
		letter-spacing: 6px;
	}
}

@media (max-width: 576px) {
	.text {
		font-size: 2rem;
		letter-spacing: 3px;
		margin-left: -10px;
		margin-left: 3px;
	}

	#hero img {
		max-width: 220px;
		margin-top: 200px;
	}

}

/* .descrip (Description) */
.descrip {
	font-size: 4rem;
	font-weight: bold;
	color: white;
	text-transform: capitalize;
	animation: fadeInUp 2s ease-out;
	white-space: normal;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	width: 100%;
	line-height: 1.6;
}

.descrip2 {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	text-transform: capitalize;
	animation: fadeInUp 2s ease-out;
	white-space: normal;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	width: 100%;
	line-height: 1.6;
	margin-top: -10px;
}


/* Media Queries for .descrip (Description) */
@media (max-width: 768px) {
	.descrip {
		font-size: 1.5rem;
		margin-top: -10px;
		max-width: 80%;
	}
}

@media (max-width: 576px) {
	.descrip {
		font-size: 1.2rem;
		margin-top: 10px;
		max-width: 90%;
		margin-left: 10px;
		margin-right: auto;
		line-height: 1.5;
		margin-bottom: -20px;
	}

	.descrip2 {
		font-size: 18px;
		font-weight: bold;
		color: white;
		text-transform: capitalize;
		animation: fadeInUp 2s ease-out;
		white-space: normal;
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		width: 100%;
		line-height: 1.6;
		margin-top: 16px;
	}


}

@media (max-width: 390px) {
	.descrip {
		font-size: 1.2rem;
		margin-top: 10px;
		max-width: 90%;
		margin-left: 10px;
		margin-right: auto;
		line-height: 1.5;
		margin-bottom: -20px;
	}

	.descrip2 {
		font-size: 18px;
		font-weight: bold;
		color: white;
		text-transform: capitalize;
		animation: fadeInUp 2s ease-out;
		white-space: normal;
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		width: 100%;
		line-height: 1.6;
		margin-top: 16px;
	}
}

/* .hero.container */
.hero.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#map {
	max-width: 1900px;
	margin: 0 auto;
	padding: 70px;
	justify-content: flex-start;

}

#map h4 {
	position: relative;
	align-items: center;
	text-align: center;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 1rem;
	margin-top: 20px;
}

/* Image Styling */
.hero.container img {
	max-width: 60%;
	height: auto;
	margin-top: px;
	margin-bottom: 30px;
	border-radius: 10px;
}

@media (max-width: 768px) {
	.hero.container img {
		max-width: 80%;
		margin-top: 20px;
		transform: scale(1.6);
		padding-top: 20px;
	}
}

@media (max-width: 576px) {
	#map {
		max-height: 550px;
	}

	.hero.container img {
		max-width: 100%;
		margin-top: 100px;
		padding: 4px;
	}



	#map h4 {
		display: inline;
		align-items: center;
		text-align: center;
		font-weight: 300;
		font-size: 30px;
		letter-spacing: 1rem;
		white-space: nowrap;
		margin-top: -400px;
		/* Prevent line breaks */
	}

}

/* End Hero Section */






/* Container for the images */
#reminder .container2 {
	position: relative;
	z-index: 1;
	margin-top: 20px;
}

/* Slider container */
.slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* Hide overflow for smooth transition */
	position: relative;
	transform: scale(0.8);
	padding-top: 10px;
	/* You can adjust the scale if necessary */
}

/* The images inside the slider */
.slides {
	display: flex;
	transition: transform 1s ease-in-out;
	/* Smooth transition for sliding */
	width: 100%;
}

/* Each individual slide */
.slide {
	min-width: 100vw;
	/* Ensure each slide takes the full width of the viewport */
	height: 100vh;
	/* Ensure each slide takes the full height of the viewport */
	background-size: contain;
	/* Ensures the entire image fits without cropping */
	background-position: center;
	/* Centers the image within the container */
	background-repeat: no-repeat;
	/* Ensures the image doesn't repeat */
}

/* Optional: You can still tweak the slider scaling or effects */


/* Visible slide */
.slide.active {
	opacity: 1;
}

/* Left and Right Arrow Buttons */
.arrow-left,
.arrow-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
	z-index: 5;
	border: none;
}

.arrow-left {
	left: 10px;
}

.arrow-right {
	right: 10px;
}

/* For small screen (mobile devices with max-width of 576px) */
@media (max-width: 576px) {

	#reminder .container2 {
		position: relative;
		z-index: 1;
		max-height: 500px;
		margin-top: -200px;
		margin-bottom: 200px;
	}

	/* Slider container */
	.slider {
		width: 100%;
		height: 100%;
		overflow: hidden;
		/* Hide overflow for smooth transition */
		position: relative;
		transform: scale(1);
		/* You can adjust the scale if necessary */
	}

	/* The images inside the slider */
	.slides {
		display: flex;
		transition: transform 1s ease-in-out;
		/* Smooth transition for sliding */
		width: 100%;
	}

	/* Each individual slide */
	.slide {
		min-width: 100vw;
		/* Ensure each slide takes the full width of the viewport */
		height: 100vh;
		/* Ensure each slide takes the full height of the viewport */
		background-size: contain;
		/* Ensures the entire image fits without cropping */
		background-position: center;
		/* Centers the image within the container */
		background-repeat: no-repeat;
		/* Ensures the image doesn't repeat */
	}

	/* Optional: You can still tweak the slider scaling or effects */


	/* Visible slide */
	.slide.active {
		opacity: 1;
	}

	/* Left and Right Arrow Buttons */
	.arrow-left,
	.arrow-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		color: rgb(255, 255, 255);
		font-size: 6px;
		padding: 10px;
		cursor: pointer;
		z-index: 5;
		border: none;
	}

	.arrow-left {
		left: 5px;
	}

	.arrow-right {
		right: 5px;
	}
}


/* Services Section */
#services .services {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 70px 30px;
}


#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/* Service Item */
#services .service-item {
	flex: 1%;
	/* This allows up to 6 items per row (100% / 6 = 16.67%, so we use 15%) */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	background-color: #3736364d;
	background-size: cover;
	margin: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 50%;
	transition: transform 0.3s ease;
	padding: 10px;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #065c88 0%, #091039 100%);
	opacity: 0.9;
	z-index: -1;
}





#services .service-item h2 {
	font-size: 2rem;
	font-weight: bold;
	color: #ecf0f1;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#services h1 {
	font-size: 4rem;
	font-weight: 200;
	color: #000000;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 20px;
}

#services .service-item h5 {
	font-size: 11px;
	color: #ecf0f1;
	margin-bottom: 15px;
	letter-spacing: 1px;
	margin-left: 40px;
}

#services .service-item h4 {
	font-size: 11px;
	color: #ecf0f1;
	margin-bottom: 15px;
	letter-spacing: 1px;
	margin-left: 37px;
}

/* Styling for clickable-image (base style) */
#services .clickable-image {
	background-color: #3498db;
	/* Modern blue for the button */
	color: white;
	padding: 14px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	transition: all 0.4s ease;
	max-width: 80px;
	max-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	margin-top: -10px;
	margin-left: 42px;
}

/* Hover and active states for clickable-image */
#services .clickable-image:hover {
	background-color: #2980b9;
	transform: translateY(-3px);
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

#services .clickable-image:active {
	background-color: #1f78a7;
	transform: translateY(1px);
}



/* Styling for clickable-image4 (custom style for Cluster Precinct) */

.service-item .clickable-image4 {
	background-color: #3498db;
	color: white;
	padding: 14px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	transition: all 0.4s ease;
	max-width: 80px;
	max-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	margin-top: -10px;
	margin-left: 27px;
}

.service-item .clickable-image4:hover {
	background-color: #2980b9;
	transform: translateY(-3px);
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.service-item .clickable-image4:active {
	background-color: #2980b9;
	transform: translateY(1px);
}



/* Download Button Styling */
#downloadBtn,
#landscapeDownloadBtn {
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	text-decoration: none;
	/* Remove underline from the link */
}

#downloadBtn button,
#landscapeDownloadBtn button {
	padding: 12px 20px;
	font-size: 26px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover and Focus Effects for the Download Button */
#downloadBtn button:hover,
#landscapeDownloadBtn button:hover {
	background-color: #45a049;
	/* Darker green */
	transform: scale(1.05);
	/* Slightly enlarge button on hover */
}

#downloadBtn button:focus,
#landscapeDownloadBtn button:focus {
	outline: none;
	/* Remove focus outline */
	box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
	/* Green outline on focus */
}

/* Button Disabled State (when download link is hidden) */
#downloadBtn[style="display: none;"] button,
#landscapeDownloadBtn[style="display: none;"] button {
	background-color: #ccc;
	cursor: not-allowed;
}


#services .info-container {
	display: flex;
	justify-content: space-between;
	/* Space between the two columns (left and right) */
	width: 100%;
	gap: 20px;
	flex-wrap: wrap;
	/* Allow items to wrap on smaller screens */
}

#services .service-container {
	display: flex;
	width: 40%;
	/* Adjust width for each service container */
	min-width: 350px;
	/* Prevent containers from shrinking too small on small screens */
	/* Add some space between rows */
}

#services h5 {
	font-size: 18px;
	position: relative;

}

/* Media Queries for Responsiveness */

/* For medium screens (tablets and small desktops) */
@media (max-width: 1024px) {
	#services .service-item {
		flex: 1 0 30%;
		/* For tablets, 3 items per row */
	}

	#services .service-item h2 {
		font-size: 1.2rem;
	}
}

/* For small screens (mobile devices) */
@media (max-width: 768px) {
	#services .service-item {
		flex: 1 0 45%;
		/* For mobile devices, 2 items per row */
	}

	#services .service-item h2 {
		font-size: 1rem;
	}
}

/* For very small screens (mobile devices in portrait mode) */
@media (max-width: 576px) {
	#services .service-item {
		flex: 1 0 100%;
		/* For very small screens, 1 item per row */
	}

	#services .service-item h2 {
		font-size: 0.9rem;
	}

	#services .section-title {
		font-size: 3rem;
		font-weight: 300;
		color: black;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 1rem;
		text-align: center;
	}
}

/* General Modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	color: white;
}

.modal-content {
	margin: 15% auto;
	padding: 10px;
	border-radius: 10px;
	max-width: fit-content;
	height: max-content;
	text-align: center;
	color: rgb(0, 0, 0);
	transition: all 0.3s ease-in-out;
	transform: scale(0.7);
	font-family: 'Arial Narrow Bold';
	letter-spacing: 1rem;
}

.close {
	color: #000000;
	font-size: 70px;
	font-weight: bolder;
	cursor: pointer;
	position: absolute;
}

.close:hover,
.close:focus {
	color: rgb(255, 0, 0);
	text-decoration: none;
}

/* Portrait Close Button Styles */
.close-portrait {
	top: 15px;
	margin-left: 350px;
	font-size: 48px;
}

/* Landscape Close Button Styles */
.close-landscape {
	top: 15px;
	right: 0px;
	font-size: 48px;
}

#modalImage,
#landscapeModalImage {
	width: 100%;
	height: auto;
	max-width: 800px;
}

#modalTitle,
#landscapeModalTitle {
	font-size: 28px;
	margin: 0;
}

#modalDesc,
#landscapeModalDesc {
	font-size: 16px;
}

/* Landscape modal specific styles */
#landscapeModal .modal-content {
	max-width: 1200px;
	width: 80%;
}

#landscapeModal img {
	max-width: 100%;
	height: auto;
}

/* Download Button Styles */
.download-btn {
	display: inline-block;
	margin-top: 15px;
	padding: 10px 20px;
	background-color: #585a5c;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 900;
	font-weight: bold;
	cursor: pointer;
}

.download-btn:hover {
	background-color: #0056b3;
}




/* Responsive styles for small screens */
/* For very small screens (portrait phones) */
@media (max-width: 480px) {
	#services .service-item {
		width: 48%;
		/* Ensures 2 items per row */
		margin: 10px 1%;
		/* Adjust margin for spacing */
		text-align: center;
	}

	#services .service-item h2 {
		font-size: 16px;
		/* Adjust the font size if needed */
	}

	#modalImage {
		max-width: 90%;
		height: auto;
		margin: 0 auto;
	}

	/* Additional modal adjustments */
	#modalTitle {
		font-size: 18px;
		text-align: center;
	}

	#modalDesc {
		font-size: 14px;
		text-align: justify;
	}

	/* Adjust the download button size for mobile */
	#download-btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}

	/* Landscape Modal */
	#landscapeModal .modal-content {
		max-width: 1500px;
		align-items: center;
		margin-top: 300px;
		max-height: 600px;
		transform: scale(1.2);
	}

	#landscapeModalImage {
		max-width: 90%;
		height: max-content;
		display: block;
		margin: 0 auto;
	}

	#landscapeModalTitle {
		font-size: 18px;
		text-align: center;
	}

	#landscapeModalDesc {
		font-size: 14px;
		text-align: justify;
	}

	/* Adjusting the Download Button */
	#landscapeDownloadBtn {
		margin-top: 10px;
		font-size: 8px;
		display: inline-block;
		/* Make sure the button appears */
	}

	/* Adjust button inside the link */
	#landscapeDownloadBtn button {
		font-size: 10px;
		padding: 5px 10px;
		/* Adjust button size */
		background-color: #4CAF50;
		/* Add styling for button */
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	#landscapeDownloadBtn button:hover {
		background-color: #45a049;
	}

	/* Prevent horizontal scrolling in the modal */
	#serviceModal .modal-content {
		width: 100%;
		max-width: 100%;
		/* Ensure the modal content doesn’t exceed screen width */
		overflow-x: hidden;
		/* Disable horizontal scrolling */
		overflow-y: auto;
		/* Allow vertical scrolling if necessary */
		align-items: center;
		transform: scale(1);
		position: relative;
		margin-top:200px;
	}

	/* Make sure the image inside the modal doesn’t exceed the container */
	#serviceModalImage {
		max-width: 100%;
		max-height: 80vh;
		/* Limit height for better scaling */
		display: block;
		margin: 0 auto;
		/* Center the image */
		object-fit: contain;
		/* Ensure the image scales proportionally */
	}

	/* Service Modal Title */
	#serviceModalTitle {
		font-size: 18px;
		text-align: center;
	}

	/* Service Modal Description */
	#serviceModalDesc {
		font-size: 14px;
		text-align: justify;
	}

	/* Adjusting the Download Button */
	#downloadBtn {
		margin-top: 10px;
		font-size: 8px;
		display: inline-block;
		/* Make sure the button appears */
	}

	/* Adjust button inside the link */
	#downloadBtn button {
		font-size: 10px;
		padding: 5px 10px;
		/* Adjust button size */
		background-color: #4CAF50;
		/* Add styling for button */
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	#downloadBtn button:hover {
		background-color: #45a049;
	}

	.close {
		color: #000000;
		font-size: 70px;
		font-weight: bolder;
		cursor: pointer;
		position: absolute;
	}

	.close:hover,
	.close:focus {
		color: rgb(255, 0, 0);
		text-decoration: none;
	}

	/* Portrait Close Button Styles */
	.close-portrait {
		margin-left: 137px;
		font-size: 30px;
		margin-top: -7px;
	}

	/* Landscape Close Button Styles */
	.close-landscape {
		right: 0px;
		font-size: 30px;
		margin-top: -15px;
	}

}

/* End Services Section */




/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}

#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: white;
}

#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}

#projects .project-img img {
	transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* End Projects section */

#result .container3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
	/* Adjust padding for better spacing */
	gap: 20px;
	/* Add space between items */
}

#result .container3 .section-title2 {
	text-align: center;
	font-size: 3rem;
	/* Adjust font size for better fit */
	font-weight: 300;
	color: rgb(0, 0, 0);
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	width: 100%;
	padding-top: 20px;
}

/* Align councilor container properly */
.councilor-container {
	align-self: flex-start;
	width: 100%;
	/* Ensure it takes the full width */
	margin-top: 20px;
}

/* General section style */
.section,
.section2 {
	width: 48%;
	/* Adjust width for more balanced layout */
	margin-bottom: 20px;
	padding: 30px;
	border: 1px solid #000;
	border-radius: 8px;
	background-color: #f9f9f9;
	/* Light background for readability */
}

/* For larger screens (desktop), sections take up 48% of the container */
@media (min-width: 768px) {

	.section,
	.section2 {
		width: 48%;
		/* Ensure each section takes up 48% of the container on larger screens */
	}
}

/* For smaller screens (mobile), sections take up 100% */
@media (max-width: 768px) {

	.section,
	.section2 {
		width: 100%;
		/* Full width on mobile */
	}
}

.candidates-list {
	max-height: 500px;
	overflow-y: auto;
	transition: max-height 0.3s ease-in-out;
}

/* Toggle button style */
.toggle-button {
	text-align: center;
	cursor: pointer;
	font-size: 24px;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 10px;
	display: inline-block;
}

.toggle-button:hover {
	background-color: #ddd;
}

/* For the expanded candidate list */
.candidates-list.expand {
	max-height: 10000px;
}

/* Styling for candidate list when collapsed */
.candidates-list.collapsed .candidate:nth-child(n+5) {
	display: none;
}

.header {
	background-color: #2364ae;
	color: white;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.header h2 {
	margin: 0;
}

.candidate {
	margin-bottom: 15px;
}

.candidate-name {
	font-weight: bold;
}

.votes {
	font-size: 20px;
}

.progress-bar {
	height: 10px;
	background-color: #cabfbf;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 5px;
}

.progress-bar-fill {
	height: 100%;
	background-color: #4c90fe;
}

.social-media {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.social-media a {
	margin: 0 5px;
}

/* Footer Style */
.footer {
	text-align: center;
	font-size: 12px;
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	color: #666;
}

#result .container3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
	/* Adjust padding for better spacing */
	gap: 20px;
	/* Add space between items */
}

#result .container3 .section-title2 {
	text-align: center;
	font-size: 3rem;
	/* Adjust font size for better fit */
	font-weight: 300;
	color: rgb(0, 0, 0);
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	width: 100%;
	padding-top: 20px;
}

/* Align councilor container properly */
.councilor-container {
	align-self: flex-start;
	width: 100%;
	/* Ensure it takes the full width */
	margin-top: 20px;
}

/* General section style */
.section,
.section2 {
	width: 48%;
	/* Adjust width for more balanced layout */
	margin-bottom: 20px;
	padding: 30px;
	border: 1px solid #000;
	border-radius: 8px;
	background-color: #f9f9f9;
	/* Light background for readability */
}

/* For larger screens (desktop), sections take up 48% of the container */
@media (min-width: 768px) {

	.section,
	.section2 {
		width: 48%;
		/* Ensure each section takes up 48% of the container on larger screens */
	}
}

/* For smaller screens (mobile), sections take up 100% */
@media (max-width: 768px) {

	.section,
	.section2 {
		width: 100%;
		/* Full width on mobile */
	}
}

.candidates-list {
	max-height: 500px;
	overflow-y: auto;
	transition: max-height 0.3s ease-in-out;
}

/* Toggle button style */
.toggle-button {
	text-align: center;
	cursor: pointer;
	font-size: 24px;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 10px;
	display: inline-block;
}

.toggle-button:hover {
	background-color: #ddd;
}

/* For the expanded candidate list */
.candidates-list.expand {
	max-height: 10000px;
}

/* Styling for candidate list when collapsed */
.candidates-list.collapsed .candidate:nth-child(n+5) {
	display: none;
}

.header {
	background-color: #2364ae;
	color: white;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.header h2 {
	margin: 0;
}

.candidate {
	margin-bottom: 15px;
}

.candidate-name {
	font-weight: bold;
}

.votes {
	font-size: 20px;
}

.progress-bar {
	height: 10px;
	background-color: #cabfbf;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 5px;
}

.progress-bar-fill {
	height: 100%;
	background-color: #4c90fe;
}

.social-media {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.social-media a {
	margin: 0 5px;
}

/* Footer Style */
.footer {
	text-align: center;
	font-size: 12px;
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	color: #666;
}


/* For smaller screen sizes */
@media (max-width: 576px) {
	#result .container3 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 3000px;
	}

	#result .section {
		width: 900px;
		margin-bottom: 20px;
		border: 1px solid #000;
		/* Adds a black border of 2px */
		border-radius: 8px;
		margin: 10px;
		/* Optional: Adds rounded corners to the border */
	}

	.section2 {
		width: 100%;
		margin-bottom: 20px;
		border: 1px solid #000;
		/* Adds a black border of 2px */
		border-radius: 8px;
		margin: 10px;
		/* Optional: Adds rounded corners to the border */

	}


	.toggle-button {
		font-size: 18px;
		/* Adjust button font size */
		padding: 8px;
		/* Reduce padding */
	}

	.header {
		padding: 8px;
		/* Reduce header padding */
	}

	.candidate-name {
		font-size: 16px;
		/* Adjust candidate name font size */
	}

	.votes {
		font-size: 18px;
		/* Adjust votes font size */
	}

	.progress-bar {
		height: 8px;
		/* Reduce progress bar height */
	}

	.progress-bar-fill {
		background-color: #4c90fe;
	}

	.social-media {
		flex-direction: column;
		/* Stack social media icons vertically */
		align-items: center;
		/* Center align the icons */
	}

	.social-media a {
		margin: 5px 0;
		/* Add vertical margin between social media icons */
	}

	.footer {
		font-size: 10px;
		/* Reduce font size for smaller screens */
	}

	/* Ensure the list takes full width on small screens */
	.candidates-list {
		max-height: 300px;
		/* Adjust max height for smaller screens */
	}
}







/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	width: 100%;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 120%;
	width: 560px;
	position: relative;
	border: 10px solid white;

}

@media (max-width: 768px) {
	#about .col-left .about-img {
		width: 100%;
		height: auto;
		/* Maintain aspect ratio */
		border: 8px solid white;
		/* Optional: Reduce border size on smaller screens */
	}
}

@media (max-width: 576px) {
	#about .col-left .about-img {
		width: 300px;
		height: auto;
		border: 5px solid white;
		/* Further reduce border size */

	}

	#about .section-title {
		font-size: 3rem;
		font-weight: 300;
		color: black;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 1rem;
		text-align: center;
	}

	#about .section-title span {
		color: #BFECFF;
	}
}


#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}

/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

.section-title {
	font-size: 5rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	text-align: center;
}

.section-title span {
	color: #BFECFF;
}

#contact .section-title {
	font-size: 3rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	text-align: center;
	margin-bottom: 30px;
}

#contact .section-title span {
	color: #BFECFF;
}



/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 10px;
}

#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}

#footer .social-item:hover img {
	filter: grayscale(0);
}

#footer p {
	color: white;
	font-size: 1.3rem;
	text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	#footer .footer {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	#footer h2 {
		font-size: 1.5rem;
	}

	#footer .social-icon {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 20px;
	}

	#footer .social-item {
		margin: 10px;
	}

	#footer p {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 480px) {
	#footer {
		position: relative;
		max-height: 215px;
	}

	#footer h2 {
		font-size: 1.2rem;
	}

	#footer .social-item {
		height: auto;
		width: 40px;
		margin: 5px;
	}

	#footer p {
		font-size: 1rem;
	}
}


/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 576px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}

	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}

	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}

	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}

	#projects .all-projects .project-info {
		height: 100%;
	}

	#projects .all-projects .project-img {
		height: 100%;
	}

	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}

	#about .col-right h1 {
		text-align: left;
	}

	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}

	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}

	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}

	#contact .contact-item .icon img {
		object-fit: contain;
	}

	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	#contact .section-title {
		font-size: 60px;
		font-weight: 200;
		margin-bottom: 30px;
		letter-spacing: 20px;
	}

	/* End contact  */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	/* header */
	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

/* End  Media Query For Desktop */